@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    color: rgb(10, 10, 10);
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: xx-large;
    background: rgb(166, 187, 187);
   /* background: radial-gradient(circle, rgba(34,193,195,1) 34%, rgba(197,233,147,0.9332107843137255) 88%);*/
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.block{
    min-width:300px;
    height: 80px;
    background-color: rgb(240, 252, 240);
    margin: 10px;
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: 0px 10px 13px -7px #000000, -50px -50px 17px 18px rgba(28,110,255,0);
}
.block:hover{
    box-shadow: #FFF 0 -1px 4px, rgb(21, 104, 65) 0 -2px 10px, -50px 13px 0px -30px rgba(28,110,255,0);  
}
h1, p {
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
a{
    
}