*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 943px;
    margin: 0 auto;
    padding: 20px;
}
.nav img{
    display: none;
}
ul{
    display: flex;
    justify-content: space-between;
}
.home{
    color: #070707;
}
li{
    list-style-type: none;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.name{
    max-width:943px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.block{
    width: 150px;  
}
.one{
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}
.two{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    padding-top: 70px;
    text-align: left;
}
.three{
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    padding-top: 70px;
    width: 100px;     
}
.rotate{
    color: #828282;
    transform: rotate(-90deg); 
 }
.photo{
    max-width: 100%;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}
img{
    max-width: 943.61px;
    max-height: 385.27px;
}
.info{
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    padding: 10px;
    color: #070707;
}
p{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}
.info-item{
    margin: 40px;
    width: 420px;
}
.program{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
 .program-item{
   width: 170px;
   margin: 50px;
   text-align: center;
 }
.program-item>img{
    width: 89px;
    height: 88px;     
}
.program-item>p{
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.icon{
    margin: 10px;
    text-align: center;
}
.fa{
    width: 26.07px;
    height: 25.88px;
}
.contact{
    padding: 20px;
    display: flex;
    justify-content: center;
}
a{
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
   
}
.button{
    background-color: #070707;
    width: 180px;
    border-radius: 30px;
    height: 41px;
    text-align: center;
}
.footer{
    text-align: center;
}
.footer>img{
    width: 442px;
    height: 40px;
    margin: 50px;
   
}
.footer>p{
font-family: Gilroy-Medium;
font-size: 14px;
text-align: center;
vertical-align: top;
}
@media  (max-width:350px)
{
   
    .program{
        display: block;
    }
    .name{
        margin: 0 auto;
        display: block;     
    }
    .three{
        display: none;
    }
    .footer>img{
        width: 300px;
        height: 30px;
        margin: 0;          
    }
    ul{
        display: block;
        
    }
    .nav img{
        display: block;
        width: 50px;
        
    }
    ul{
        display: none;
        
    }
    .nav:hover ul{
        display: block;
    }
}
    
