*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  
}
body{
    background-color: gray;
}

h1{
    text-align: center;
    font-size: xx-large;
    color: bisque;
}
/*img*/
.text{
    text-align: center;
}
img{
   max-width: 100%;
}
p{
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    color: black;
}

/*column*/


.column{
    display: flex;
    justify-content: space-around;
}
.block{
    width: 33%;

}
.block-item{
    width: 100%;
    background-color: black;
    object-fit: cover;
    padding: 0 0 50% 0;
    overflow: hidden;
    position: relative;
}
.block-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/*line*/


.line-block{
  
    margin: 10px;
    width: 95%;
    display: flex;
   justify-content: space-around;
   

}
.line-item{
    flex: 0 0 500px;
    position: relative;
    min-height: 200px;
    width: 50%;
    
   
    
}
.line-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.pa{
    width: 45%;
}












