*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(77px, auto);
    grid-gap: 10px;
    
}
/*nav*/
.block_nav{
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    line-height: 77px;
}
.block_nav img{
  display: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.link{
    color: black;
}
/*тфьу*/
.block_name{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 35px 0px;
    
   
}
.name-one{
    width: 124px;
    height: 117px;
}
h1{
    font-family: Gilroy-Bold;
    font-size: 47px;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;    
}

.name-two{
    width: 150px;
    height: 44px;
}
h2{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.name-three{
    width: 70px;
    height: 20px;
    transform: rotate(-90deg);
    align-self: center;
     
}
span{
    color: #828282;
}
h3{
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;  
}
/*photo*/
.block_photo{
    grid-column: 2/3;
    grid-row: 3/4;
}
.big{
  max-width: 943px;
  min-width: 320px;
}
.small{
    width: 316px;
    height: 478px;
    display: none;
}
    

/*about*/
.block_about{
    background-color:  #F6F6F6;
    ;
    grid-column: 1/4;
    grid-row: 4/5;
    height: 503px;
    border-radius: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about-item{
    width: 485px;
    height: 276px;
}
h4{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}
p{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin: 30px;

}
/*skills*/
.block_skills{
    grid-column: 2/3;
    grid-row: 5/6;
}
.prog{
    display: flex;
    justify-content: space-between;
}
.prog-item{
    width: 166px;
    height: 205px;
    text-align: center;
    padding: 20px 0px;
}
h5{
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    color: #828282;
    margin: 10px;

}
.fa{
    height: 25.883451461791992px;
    width: 26.072172164916992px;
    left: 255.7080078125px;
    top: 1729.20703125px;
    border-radius: 1px;
    
}
.star{
    display: flex;
    justify-content: space-between;
}
/*footer*/
.block_footer{
    grid-column: 2/3;
    grid-row: 6/7;
    text-align: center;
}
.button{
    width: 180px;
    min-height: 42px;
    background: #000;
    margin:20px auto;
    border-radius: 20px;
}
.but{
    padding-top: 10px;
}
.but>a{
   color: #F6F6F6;
  
}
.icon{
    width: 342px;
    margin: 50px auto;
    padding: 20px;
}
.like>h5{
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
}



@media (max-width: 374px)
{
 .container{
     display: block;
 }
 hr{
     display: none;
 }
.block_nav img{
     display: block;
     float: right;
     margin: 29px 30px;
 }
 .block_nav ul{
     display: none;
 }

.block_nav:hover ul{
    display: block;
}
.block_nav:hover img{
    display: none;
}

 .block_name{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
 }
 .name-one{
    margin: 0px 26px;
 }

 .name-two{
    margin: 23px 26px;

 }
 .name-three{
    display: none;
 }  
 .prog{
   display: block;
 } 
 .prog-item{
   text-align: center;
    margin: 0 auto;
}

.small{
    display: block;
    margin: 0 auto;
}
.big{
    display: none;
}
.icon{
    width: 315px;
    margin: 50px auto;
    padding: 20px;
}

}
    

