.block{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: fixed;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    left: 10px;
    top: 100px;
}




.flag{   
    margin-top: 50px; 
    width: 600px;
    height: 300px;
    border: 3px solid blue;
    position: relative;   
    margin: 0px auto; 
}
.circle{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 50px;
}

.icon{
    width: 400px;
    height: 400px;
    border-radius: 40%;
    background: rgb(195,34,137);
    margin: 0 auto;
    background: rgb(195,34,137);
    background: linear-gradient(0deg, rgba(195,34,137,1) 44%, rgba(205,221,43,0.6587009803921569) 89%);
    position: relative;
}

.icon-item{
   width: 300px;
   height: 300px;
   border: 10px solid white;
   border-radius: 40%;
   position: absolute;
   left: 45px;
   top: 45px;
}
.icon-item-circle{
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 40px;
 }
 .circle-1{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: aliceblue;
     position: absolute;
     right: 0;
 }
 .bear{
     width: 400px;
     height: 400px;
     background-color: aquamarine;
     margin: 0 auto;
     border-radius: 45%;
     position: relative;
    

 }
 .p{
     width: 100px;
     height: 100px;
     border-radius: 45%;
     background-color: aquamarine;
     position: absolute;
     left: 0;
     z-index: -1;

 }
 .pp{
    width: 100px;
    height: 100px;
    border-radius: 45%;
    background-color: aquamarine;
    position: absolute;
    right: 0;
    z-index: -1;

}
.r{
    width: 80px;
    height: 80px;
    border-radius: 45%;
    background-color: rgb(164, 164, 172);
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;

}
.rr{
    width: 80px;
    height: 80px;
    border-radius: 45%;
    background-color: rgb(117, 117, 122);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;

}